DEEPSEEK_API_KEY=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""
PROVIDER="deepseek" # deepseek | openai | gemini

BASE_URL=""
LOGIN_EMAIL=""
LOGIN_PASSWORD=""

URL_LOGIN="/login"
EMAIL_SELECTOR="#email"
PASSWORD_SELECTOR="#password"
SUBMIT_SELECTOR="#loginForm button.btn-primary"
SUCCESS_URL="/dashboard"
